.image1{
    animation:tom 2s ease infinite;
}
@keyframes tom{
    5%{
    

    }
    60%{
        transform: translatex(200px);
    }
    100%{
        transform:translate(1000px);
    }
}
.image2{
    animation:jerry 2s ease infinite ;
}
@keyframes jerry{
    5%{

    }
    60%{
        transform:translatex(300px);
    }
    100%{
        transform:translate(1000px);
    }
}


